<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post - BlaBla</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/essential.css">
</head>

<body>

    <body class="bg-[#111] text-white overflow-x-hidden flex justify-center">
        <main class="w-full max-w-2xl">
            <nav class=" z-10 py-3 px-4  border-b border-gray-700">
                <p class="text-xl font-semibold pl-4">Create post</p>
            </nav>
            <div class="top px-5 py-3 gap-1 flex items-center">
                <img src="<%=user.oauthProfilePic%>" class="h-12 w-12 rounded-full">
                <p class="font-semibold text-lg">
                    <%=user.name%>
                </p>
            </div>
            <form action="/post/upload/<%=user.email%>" method="post" enctype="multipart/form-data"
                class="flex flex-col px-5 gap-4">
                <input type="file" name="picture" id="picture" class="real-file hidden">
                <div class="flex items-center">
                    <p
                        class="fake-file flex items-center bg-gray-300 text-black cursor-pointer text-sm w-fit px-5 py-1 rounded-lg">
                        <i class="ri-image-2-fill text-xl text-black"></i> Choose a file </p>
                    <span class="leading-none text-sm pl-2 text-gray-200" id="custom-text">No file chosen, yet.</span>

                </div>
                <textarea name="description" id="description" class="h-80 bg-gray-200 text-black rounded-lg resize-none p-4"
                    placeholder="What's on your mind"></textarea>
                <div class="w-full flex justify-end">

                    <input class="bg-blue-600 p-2 px-10 text-white rounded-md w-fit" type="submit" value="Post">
                </div>

            </form>
        </main>
    </body>


</body>
<%-include("footer.ejs")%>

    <script>
        document.querySelector(".fake-file").addEventListener("click", () => {
            document.querySelector(".real-file").click()
        })
        document.querySelector(".real-file").addEventListener("change", function () {
            const fileName = this.files[0].name;
            document.getElementById("custom-text").textContent = fileName;
        });
    </script>

</html>