<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlaBla</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/essential.css">
</head>

<body class="bg-black md:bg-[#111] text-white overflow-x-hidden flex flex-col items-center ">
    <%-include("footer")%>
    <main class="w-full max-w-xl">
        <nav class="px-1 pt-3">

            <div class="searchbar flex bg-gray-700 px-2 rounded-md gap-2 items-center">
                <i class="  text-xl ri-search-line"></i>
                <input id="name" type="text" name="name" placeholder="Search"
                    class="w-full bg-gray-700 py-2 text-white placeholder:text-gray-400">
            </div>
        </nav>
        <div class="hero px-4 py-0 flex flex-col">

        </div>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    
    let input = document.querySelector("#name");
    input.focus()
    let clutter = "";
    input.addEventListener("input", () => {

        if (input.value != "") {
            axios.get(`/user/search/${input.value}`).then((response) => {
                clutter = ""
                response.data.forEach(element => {
                    let base64String = bufferToBase64(element.profilePic.data)
                    clutter += `<a href="/user/profile/${element.username}" class="w-full mt-2 flex items-center gap-2">
                        <div class="profile-pic w-14 rounded-full h-14 bg-green-200 overflow-hidden">
                            <img src="data:${element.picMimeType};base64,${base64String}"
                                class="w-full h-full object-cover">
                        </div>
                        <div class="name">
                            <h1 class="text-lg leading-none">${element.name}</h1>
                            <p class="leading text-gray-400 text-xs">${element.username}</p>
                        </div>
                    </a>`
                    console.log(base64String)
                });
                document.querySelector(".hero").innerHTML = clutter
            }).catch((err) => {
                console.log(err);
            });
        }


    })

    function bufferToBase64(buffer) {
        let binary = '';
        const bytes = new Uint8Array(buffer);
        const len = bytes.byteLength;
        for (let i = 0; i < len; i++) {
            binary += String.fromCharCode(bytes[i]);
        }
        return window.btoa(binary);
    }
</script>

</html>